<p id="notice"><%= notice %></p>

<p>
  <strong>Title</strong>
  <%= @party.title %>
</p>

<p>
  <strong>Start Time</strong>
  <%= @party.started_at %>
</p>

<p>
  <strong>End Time</strong>
  <%= @party.ended_at %>
</p>

<p>
  <strong>Address</strong>
</p>

<p>
  <strong>City</strong>
  <%= @party.city %>
</p>

<p>
  <strong>State</strong>
  <%= @party.state %>
</p>

<p>
  <strong>Zip code</strong>
  <%= @party.zip_code %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @party.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @party.email %>
</p>

<p>Registered Guests</p>

<p>
  <% @guests.each do | guest | %>
    <%= link_to guest.full_name, guest_path(guest) %>
  <% end %>
</p>

<p>
  <strong> Add New Guest </strong>
</p>
<%= render 'guests/form' %>
<%= link_to 'Edit', edit_party_path(@party) %> |
<%= link_to 'Back', parties_path %>
